# **OOP and Other concepts in Python**

# Class and Objects

In [ ]:
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'
        
print(MyClass.__doc__)
print(MyClass.i)
print(MyClass.f)

A simple example class
12345
<function MyClass.f at 0x7fba880e8820>

## Encapsulation

### Non-private data is accessible outside the obkect methods.

In [ ]:
# base class
class Animal:
    
    def eat(self):
        print( "I can eat!")
    
    def sleep(self):
        print("I can sleep!")

# derived class
class Dog(Animal):
    
    def bark(self):
        print("I can bark! Woof woof!!")

# Create object of the Dog class
dog1 = Dog()

# Calling members of the base class
dog1.eat()
dog1.sleep()

# Calling member of the derived class
dog1.bark();

I can eat!
I can sleep!
I can bark! Woof woof!!

In [ ]:
class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

# change the price
c.__maxprice = 1000
c.sell()

# using setter function
c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000

## Inheritance

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname
    print(self.firstname, self.lastname)
  

class Researcher(Person):
  def __init__(self, fname, lname):
    print('This is a message from the init method of the child class.')

Researcher("Alan", "Turing")

This is a message from the init method of the child class.

## super() Method

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname
    print(self.firstname, self.lastname)

   
class Researcher(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    print('This is a message from the init method of the child class.')

Researcher("Alan", "Turing")

Alan Turing
This is a message from the init method of the child class.

## Extend the functionality of an existing Class

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Researcher(Person):
  def __init__(self, fname, lname, exp):
    super().__init__(fname, lname)
    self.area_of_expertise = exp
  
  def print_area_of_expertise(self):
    self.printname() # calling a member method
    print("Area of expertise is : ", self.area_of_expertise)
  

obj = Researcher("Alan", "Turing", "AI")
obj.print_area_of_expertise()

Alan Turing
Area of expertise is :  AI

## Multiple Inheritance

In [ ]:
class Mammal:
    def mammal_info(self):
        print("Mammals can give direct birth.")

class WingedAnimal:
    def winged_animal_info(self):
        print("Winged animals can flap.")

class Bat(Mammal, WingedAnimal):
    pass

# create an object of Bat class
b1 = Bat()

b1.mammal_info()
b1.winged_animal_info()

Mammals can give direct birth.
Winged animals can flap.

## Multilevel Inheritance

In [ ]:
class SuperClass:

    def super_method(self):
        print("Super Class method called")

# define class that derive from SuperClass
class DerivedClass1(SuperClass):
    def derived1_method(self):
        print("Derived class 1 method called")

# define class that derive from DerivedClass1
class DerivedClass2(DerivedClass1):

    def derived2_method(self):
        print("Derived class 2 method called")

# create an object of DerivedClass2
d2 = DerivedClass2()

d2.super_method()  # Output: "Super Class method called"

d2.derived1_method()  # Output: "Derived class 1 method called"

d2.derived2_method()  # Output: "Derived class 2 method called"

Super Class method called
Derived class 1 method called
Derived class 2 method called

## Polymorphism

In [ ]:
class Polygon:
    # method to render a shape
    def render(self):
        print("Rendering Polygon...")

class Square(Polygon):
    # renders Square
    def render(self):
        print("Rendering Square...")

class Circle(Polygon):
    # renders circle
    def render(self):
        print("Rendering Circle...")
    
# create an object of Square
s1 = Square()
s1.render()

# create an object of Circle
c1 = Circle()
c1.render()

Rendering Square...
Rendering Circle...

# **List Comprehension**

In [ ]:
numbers = [2, 5, 7, 6, 10, 55, 100]

even = [x for x in numbers if x%2==0]
print(even)


names = ["ram", "anita", "ravana", "peter", "bob", "alice"]
astartnames = [name for name in names if name.startswith('a')]
print(astartnames)

anames = [name for name in names if "a" in name]
print(anames)

# **Lambda Function**

### A function without a name is known as an anonymous function in Python.
### It is created with the help of the keyword lambda.

In [7]:
# Example 1
# An example of an anonymous function with one arguments:
add = lambda x: x + 1
print(add(5))

6

## Python code to illustrate cube of a number  

A lambda function with one argument.

In [36]:

# Python code to illustrate cube of a number  

# showing difference between def() and lambda(). 
def cube(y): 
    return y*y*y; 
print(cube)  
print(cube(5)) 


g = lambda x: x*x*x 
print(g)
print(g(5))

<function cube at 0x7fcfd34af310>
125
<function <lambda> at 0x7fcfd34af700>
125

## Another example to Print something

In [35]:
# An example of an anonymous function with two arguments:

name1 = lambda first_name, last_name: f'The full name is {first_name.title()} {last_name.title()}'
print(name1('Alan', 'Turing'))

name2 = lambda first_name, last_name: print(f'The full name is {first_name.title()} {last_name.title()}')
name2('Alan', 'Turing')

The full name is Alan Turing
The full name is Alan Turing

 An example of an anonymous function with two arguments:

In [37]:
# Example 4
# An example of an anonymous function with two arguments:
f = lambda a, b: a + b
print(f(2,3))

5

## Higher Order Function

### The functions which take one or more functions as arguments and returns the result are known as higher-order functions.

In [16]:
# A lambda function can be a higher-order function:

higher_order_function = lambda x, f1: x + f1(x)

res = higher_order_function(3, lambda x: x * x)
print(res)

res = higher_order_function(5, lambda x: x + 3)
print(res)

12
13

## **Lambda IIFE (stands for immediately invoked function execution)**

### IIFE in Python Lambda - IIFE stands for immediately invoked function execution. It means that a lambda function is callable as soon as it is defined. Let's understand this with an example; fire up your IDLE and type in the following:

In [30]:
res = (lambda x: x + x)(2)
print(res)

4

## Byte Code for Lambda vs. any other function in Python

In [12]:

# The dis module subjects a readable version of the Python bytecode generated by the compiler,
# which in turn displays the low-level instructions used by the Python interpreter.

# You can see the Python bytecode is similar in both cases.
# However, what differs is the style of naming.
# With def, the function is named as sub whereas lambda is used in case of Python built-in function.

import dis
sub_lam = lambda a, b: a + b
print(type(sub_lam))
print(sub_lam)
print(dis.dis(sub_lam))

print("\n\n")

def sub(a,b):
    c = a + b
    return c

print(type(sub))
print(sub)
print(dis.dis(sub))

<class 'function'>
<function <lambda> at 0x7fcfd35b0820>
  9           0 LOAD_FAST                0 (a)
              2 LOAD_FAST                1 (b)
              4 BINARY_ADD
              6 RETURN_VALUE
None



<class 'function'>
<function sub at 0x7fcfd35b0700>
 17           0 LOAD_FAST                0 (a)
              2 LOAD_FAST                1 (b)
              4 BINARY_ADD
              6 STORE_FAST               2 (c)

 18           8 LOAD_FAST                2 (c)
             10 RETURN_VALUE
None


## Map with Lambda)

In [4]:

# Lambda with Map - Python code to illustrate map() with lambda()  
# to get double of a list. 

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 

final_list = list(map(lambda x: 2*x , li)) 

print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]


## Filter with Lambda

In [5]:
# Lambda with Filter - Python code to illustrate 
# filter() with lambda() 

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 

final_list = list(filter(lambda x: (x%2 != 0) , li)) 

print(final_list)

[5, 7, 97, 77, 23, 73, 61]

## Reduce with Lambda

In [6]:
# Lambda with Reduce - Python code to illustrate - reduce() with lambda() 
# to get sum of a list 

from functools import reduce

li = [5, 8, 10, 20, 50, 100] 

sum = reduce((lambda x, y: x + y), li) 

print (sum)

193

In [38]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ")
print(reduce(lambda a, b: a if a > b else b, li))

The maximum element of the list is :
100

# **Object Serialization**

In [25]:
import pickle as pk

## Serialize/De-serialize data in a Dictionary

In [26]:
# Serialize
f = open("pic.pk","wb")
dct = {"name":"Raj", "age":23, "Gender":"Male","marks":75}
pk.dump(dct, f)
f.close()


# De-Serialize
f = open("pic.pk","rb")
d = pk.load(f)
print(d)
f.close()

{'name': 'Raj', 'age': 23, 'Gender': 'Male', 'marks': 75}

## Serialize/De-serialize a Class Object

In [27]:
class Person:
  def __init__(self, name, age):
     self.name=name
     self.age=age
  def show(self):
     print ("name:", self.name, "age:", self.age)

In [28]:
p1 = Person('Raj', 35)

print ("\n Pickling data....")
f = open("pickled.pk","wb")
pk.dump(p1,f)
f.close()
print ("\n Pickling completed....")

 Pickling data....

 Pickling completed....

In [29]:
print ("\n Now Unpickling data....")
f = open("pickled.pk","rb")
p1 = pk.load(f)
p1.show()

 Now Unpickling data....
name: Raj age: 35